<br>
<br>
<h1 class="text-center">Bienvenue sur votre nouveau site prefere !</h1>
<br>
<hr>
<br>
<p class="text-center">Sur notre site, vous allez pouvoir creer vos propres potins mais aussi decouvrir les potins crees par vos camarades ! De quoi ravir votre curiosite</p>
<br>
<p class="text-center">Mais d'abord veuillez vous connecter ou vous inscrire !</p>