<h1>TEAM</h1>
<p> Qui se cachent derriere The Gossip Project ? </p>
<hr>
<p>Marine Calderon : elle lie Public et Closer depuis l'age de 9 ans, les potins elle les vis donc avec passion depuis sa tendre enfance !</p>
<p>Loan Do : en 2002, elle decouvre que David Beckham trompe Victoria avec la nounou, depuis le moindre potin la fascine !</p>
<%= image_tag("team.jpg", :alt => "team")%>